<!DOCTYPE html >



<html    lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">

        <title>Stock de véhicule</title>

    </head>
    <body>

        <tr th:each="voiture: ${stock.arrayVehicules}">
            <td th:text="${voiture.getMarques()}"></td>
            
            <td th:text="${voiture.getModeles()}"></td>
               <td th:text="${voiture.getTypeVehicules()}"></td>
            <td th:text="${voiture.getImmatVehicules}"></td>
            

            </tr>


 
    </body>
</html>