<!DOCTYPE html >



<html    lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">

        <title>Stock de véhicule</title>

    </head>
    <body>

        <ol th:each="voiture: ${stock.arrayVehicules}">
            <li th:text="${voiture.getMarques()}"></li>
            <ul>
            <li th:text="${voiture.getModeles()}"></li>
               <li th:text="${voiture.getTypeVehicules()}"></li>
            <li th:text="${voiture.getImmatVehicules}"></li>
            <ul>

        </ol>


 
    </body>
</html>